site/
target/
circom/target/
circom_algebra/target/
compiler/target/
constraint_generation/target/
parser/target/
program_structure/target/
type_analysis/target/
.idea/
.vscode/
.DS_Store
logs/
**/*.dot
**/*.json
cfg_ssa/formalizacion.tex
cfg_ssa/idea_formal.tex
